/* GERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
	background-color: #e6ecf0;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz{
    width: 50%;
    position: relative;
    padding: 5%;
}

.quiz__question{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

.quiz__item{
    background-color: #ffffff;
    margin: 1.3px 0;
    border-radius: 1px;
    padding: 10px 20px;
}